/* AppLayout styles */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-bg);
  overflow: hidden;
}

.mainWrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow: auto;
}
